@{
    <link href="~/css/ownerProfile.css" rel="stylesheet" />
    ViewData["Title"] = "Restaurant Profile";
    var details = ViewBag.RestaurantDetails as RestaurantsModel;
    var followerCounts = ViewBag.FollowerCounts as Dictionary<string, int>;
    var restaurantId = ""; // Replace with your specific restaurant ID
    var followerCount = followerCounts.ContainsKey(restaurantId) ? followerCounts[restaurantId] : 0;
}

<div class="container">
    <div class="profile-header">
        <div class="row">
            <div class="position-relative ">
                <img disabled src="~/assets/RestaurantStuff/Cover.jpg" alt="Cover Photo" class="img-fluid w-100"
                    style="height: 300px; object-fit: cover;">

                <div class="row">
                    <div class="profile-info col-3">
                        <img disabled src="~/assets/RestaurantStuff/ProfilePage.jpg" alt="Profile Photo"
                            class="profile-photo rounded-circle border border-white" style="width: 70%; height: 70%;">
                    </div>
                    <div class="col-2"></div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-5">
                                        <h2>@details.RestName</h2>
                                    </div>
                                    <div class="col-7">
                                        @* @if ("userFollowed")
                                        {
                                        <button class="f-btn btn btn-primary">
                                        <i class="fas fa-check"></i>
                                        </button>
                                        }
                                        else
                                        {
                                        <button class="f-btn btn btn-primary">Follow</button>
                                        } *@
                                        <button class="f-btn btn btn-primary">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM11 17V13H7V11H11V7H13V11H17V13H13V17H11Z"
                                                    fill="currentColor" />
                                            </svg>
                                            Follow
                                        </button>
                                        @if (restaurantId == "12345")
                                        {
                                            <a asp-area="" asp-controller="RestProfile" asp-action="EditProfile"
                                                class="btn btn-primary e-btn">Edit Profile</a>

                                        }

                                    </div>
                                </div>



                                <p>Rating:
                                    <span class="star-rating">
                                        @{
                                            float rating = details.RestRatings ?? 0f;
                                            int fullStars = (int)rating;
                                            bool hasHalfStar = rating - fullStars >= 0.5;
                                            int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);


                                            for (int i = 0; i < fullStars; i++)
                                            {
                                                @:<i class="fas fa-star"></i>
                                            }
                                            if (hasHalfStar)
                                            {
                                                @:<i class="fas fa-star-half-alt"></i>
                                            }
                                            for (int i = 0; i < emptyStars; i++)
                                            {
                                                @:<i class="far fa-star"></i>
                                            }
                                        }
                                    </span>
                                    @details.RestRatings
                                </p>
                                <div class="profile-bio">
                                    <p><strong>Bio: </strong>@details.RestBio</p>
                                </div>
                                <p class="website-link">
                                    <i class="fas fa-link"></i>
                                    <a href="@details.RestWebsite" target="_blank">@details.RestWebsite</a>
                                </p>


                            </div>
                            <div class="col-1">
                            </div>
                            <div class="col-3">
                                <button class="r-btn btn btn-primary ml-auto d-block" onclick="openReservationPopup()">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M7 2H5V4H2V22H22V4H19V2H17V4H7V2ZM4 6V20H20V6H4ZM7 9H9V11H7V9ZM11 9H13V11H11V9ZM15 9H17V11H15V9ZM7 13H9V15H7V13ZM11 13H13V15H11V13ZM15 13H17V15H15V13ZM7 17H9V19H7V17ZM11 17H13V19H11V17ZM15 17H17V19H15V17Z"
                                            fill="currentColor" />
                                    </svg>
                                    Reserve
                                </button>
                                <button class="m-btn btn btn-primary">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M2 4C2 2.89543 2.89543 2 4 2H20C21.1046 2 22 2.89543 22 4V20C22 21.1046 21.1046 22 20 22H4C2.89543 22 2 21.1046 2 20V4ZM4 4V6L12 11L20 6V4H4ZM20 8L12 13L4 8V20H20V8Z"
                                            fill="currentColor" />
                                    </svg>
                                    Message
                                </button>
                                <button class="fav-btn btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        width="24" height="24">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M12 2l3.09 6.31 6.91.99-5 4.86 1.18 6.88L12 17.25l-6.09 3.89 1.18-6.88-5-4.86 6.91-.99L12 2zm0 2.27l-2.76 5.63-6.22.89 4.51 4.41-1.07 6.23L12 18.77l5.54 2.86-1.07-6.23 4.51-4.41-6.22-.89L12 4.27z" />
                                    </svg>
                                    Favorite
                                </button></button>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <div class="row">


                        </row>



                    </div>

                </div>
                <div class="row">
                    <div class="col-md text-center">
                        <span><strong>0</strong> posts</span>
                    </div>
                    <div class="col-md text-center ">
                        <span><strong>@followerCount</strong> followers</span>
                    </div>
                    <div class="col-md text-center">
                        <span><strong>107</strong> following</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="profile-tabs">
                        <ul class="nav nav-tabs mt-3 justify-content-center">
                            <li class="nav-item Active">
                                <button class="nav-link active" onclick="openTab(event, 'posts')">Posts</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" onclick="openTab(event, 'About')">About</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" onclick="openTab(event, 'Photos')">Photos</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" onclick="openTab(event, 'Videos')">Videos</button>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="profile-body">
            <div id="posts" class="tab-content">
                <div class="row">
                    <div class="col-md-2">

                        <h3>Posts</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/assets/RestaurantStuff/Post1.jpg" alt="Post 1" class="img-fluid">
                            </div>
                            <div class="col-md-4">
                                <img src="~/assets/RestaurantStuff/Post2.jpg" alt="Post 2" class="img-fluid">
                            </div>
                            <div class="col-md-4">
                                <img src="~/assets/RestaurantStuff/Post3.jpg" alt="Post 3" class="img-fluid">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/assets/RestaurantStuff/Post4.jpg" alt="Post 4" class="img-fluid">
                            </div>
                            <div class="col-md-4">
                                <img src="~/assets/RestaurantStuff/Post5.jpg" alt="Post 5" class="img-fluid">
                            </div>
                            <div class="col-md-4">
                                <img src="~/assets/RestaurantStuff/Post6.jpg" alt="Post 6" class="img-fluid">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div id="About" class="tab-content" style="display: none">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group">
                                <h3>About</h3>
                                <a href="#" class="list-group-item list-group-item-action active">Contact and basic
                                    info</a>
                                <a href="#" class="list-group-item list-group-item-action">Page transparency</a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div>
                                <h4>Categories</h4>
                                <p>Bar</p>
                                <h5>Contact info: @details.RestContact</h5>
                                <h5>Email Address: @details.RestEmail</h5>
                                <div id="map" style="height: 400px; width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Reels" class="tab-content" style="display: none">
                <h3>Reels</h3>
                <!-- Add content for Reels here -->
            </div>
            <div id="Photos" class="tab-content" style="display: none">
                <h3>Photos</h3>
                <!-- Add content for Photos here -->
            </div>
            <div id="Videos" class="tab-content" style="display: none">
                <h3>Videos</h3>
                <!-- Add content for Videos here -->
            </div>

        </div>

    </div>
    <div id="reservationPopup" class="modal">
        <div class="modal-content">
            <div class="row" style="  border-bottom: 1px solid #ddd;">
                <div class="col-3">

                    <button class="noselect closebutton" onclick="closeReservationPopup()"><span class="icon"><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
                                </path>
                            </svg></span></button>
                </div>
                <div class="col-9">
                    <h2>Reservation Details</h2>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" class="form-control" id="ReserveDate" name="ReserveDate">
                </div>
                <div class="form-group">
                    <label for="pax">PAX:</label>
                    <select id="pax" class="form-control">
                        <option value="2">2 people</option>
                        <option value="3">3 people</option>
                        <option value="4">4 people</option>
                        <option value="5">5 people</option>
                        <option value="6">6 people</option>
                        <option value="7">7 people</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                <div class="form-group">
                    <label>Choose Time:</label>
                    <div class="row">
                        <div class="col-4 col-md-2">
                            <label class="radio-label">
                                <input class="radio-input" type="radio" name="time-discount">
                                <span class="radio-tile">
                                    15:00
                                </span>
                            </label>
                        </div>
                        <div class="col-4 col-md-2">
                            <label class="radio-label">
                                <input class="radio-input" type="radio" name="time-discount">
                                <span class="radio-tile">
                                    16:00
                                </span>
                            </label>
                        </div>
                        <div class="col-4 col-md-2">
                            <label class="radio-label">
                                <input class="radio-input" type="radio" name="time-discount">
                                <span class="radio-tile">
                                    17:00
                                </span>
                            </label>
                        </div>

                        <div class="col-4 col-md-2">
                            <label class="radio-label">
                                <input class="radio-input" type="radio" name="time-discount">
                                <span class="radio-tile">
                                    18:00
                                </span>
                            </label>
                        </div>
                        <div class="col-4 col-md-2">
                            <label class="radio-label">
                                <input class="radio-input" type="radio" name="time-discount">
                                <span class="radio-tile">
                                    19:00
                                </span>
                            </label>
                        </div>
                        <div class="col-4 col-md-2">
                            <label class="radio-label">
                                <input class="radio-input" type="radio" name="time-discount">
                                <span class="radio-tile">
                                    20:00
                                </span>
                            </label>
                        </div>
                    </div>

                </div>
                <button type="submit" class="Reserve-btn">Confirm Reservation</button>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcZ-tpp7-d401k61UO39tGYGvq-yOAn1s&callback=initMap" async
        defer></script>
    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("nav-link");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function initMap() {
            var location = { lat: @details.RestLat, lng: @details.RestLong }; // Example coordinates for Singapore
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
        function closeReservationPopup() {
            document.getElementById('reservationPopup').style.display = 'none';
        }

        // Function to open the reservation popup
        function openReservationPopup() {
            document.getElementById('reservationPopup').style.display = 'block';
        }

        // Close the modal if the user clicks outside of it
        window.onclick = function (event) {
            var modal = document.getElementById('reservationPopup');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    </script>
}