@model IEnumerable<EffectiveWebProg.Models.ItemsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Items</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Items</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCat.CatName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCat.CatName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemID" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemID" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
