@using EffectiveWebProg.ViewModels;
@model MainFeedViewModel
@functions {
    public int randomNum() {
        Random rand = new Random();
        return rand.Next(1, 5);
    }
}

@*temporary variable*@
@{
    var userID = Guid.Parse("10bb4451-19aa-11ef-ad56-662ef0370963");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="~/css/post.css">
    <script type="text/javascript" src="~/js/post.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="bg-white">
    <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-post-dialog">
            <div class="modal-content modal-post-content">
                <div class="modal-header modal-post-header">
                    <h5 class="modal-title modal-post-title" id="postModalLabel">New Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-post-body">
                    @await Html.PartialAsync("_CreatePostPartial", Model.NewPost)
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-info-dialog">
            <div class="modal-content modal-info-content">
                <div class="modal-image">
                    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" id="carouselInner">
                            <!-- Photos will be inserted here from the database -->
                        </div>
                    </div>
                </div>
                <div class="modal-details modal-info-details">
                    <div class="modal-info-header">
                        <img src="~/Images/xunyin.jpg" alt="Xun Yin">
                        <div class="modal-info-poster">
                            <h4 class="post-info-name">Darren</h4>
                            <span class="post-info-time">13/6/2024 9:08:41 am</span>
                         </div>
                    </div>
                    <div class="modal-title modal-info-title" id="modalTitle">Title</div>
                    <div class="modal-message modal-info-message" id="modalMessage">Message</div>
                    <div class="modal-comments modal-info-comments" id="modalComments">
                        <div class="row">
                            <span>First Comment</span>
                        </div>
                        <div class="row">
                            <span>2nd Comment</span>
                        </div>
                        <div class="row">
                            <span>Third Comment</span>
                        </div>
                        <div class="row">
                            <span>Fourth Comment</span>
                        </div>
                        <div class="row">
                            <span>5th Comment</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main-content">
            <div class="content">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-8">
                        <div class="input-area">
                            <div class="profile-pic"></div>
                            <div class="input-field" data-bs-toggle="modal" data-bs-target="#postModal">Want to share something?</div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-8">
                        @foreach(var item in Model.PostLists) {
                        <div class="posts" id="@item.Post.PostID">
                            <a class="float-end" asp-controller="Posts" asp-action="SpecificPost" asp-route-id="@item.Post.PostID"><i class="fa-regular fa-clipboard"></i></a>
                            <div class="post-header">
                                <img src="~/Images/xunyin.jpg" alt="Xun Yin">
                                <div class="post-info">
                                    @if (item.Post.User != null) {
                                        <h4>@item.Post.User.UserName</h4>
                                    } else if (item.Post.Restaurant != null) {
                                        <h4>@item.Post.Restaurant.RestName</h4>
                                    }
                                    <span>@item.Post.PostCreatedAt</span>
                                </div>
                            </div>
                            <div class="post-content">
                                <h3>@item.Post.PostTitle</h3>
                                <p style="max-height: 200px;overflow-y:auto">@item.Post.PostContent</p>
                                <!-- TODO: Generate the image table dynamically, currently randomizing amount of photos -->
                                <div class="images-table">
                                    @for (var i=0; i<randomNum(); i++) {
                                    <div class="test">
                                        <img src="/Images/Food1.jpeg" alt="Post Image">
                                    </div>
                                    }
                                </div>
                            </div>

                            <div class="post-footer">
                                <form asp-action="LikePost" method="post">
                                    <input type="hidden" name="postId" value="@item.Post.PostID" />
                                    <input type="hidden" name="userId" value="@userID" />
                                    <button type="submit"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        @if (item.IsLikedByUser) {
                                            <span class="icon-text">Unike</span>
                                        } else {
                                            <span class="icon-text">Like</span>
                                        }
                                    </button>
                                </form>
                                <button><i class="fa fa-comment" aria-hidden="true"></i><span class="icon-text">Comments</span></button>
                                <button><i class="fa fa-share" aria-hidden="true"></i><span class="icon-text">Share</span></button>
                            </div>
                            @await Html.PartialAsync("/Views/Comments/_CommentFormPartial.cshtml", new CommentsModel { UserID = userID, PostID = item.Post.PostID })
                        </div>
                        }
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
