@using EffectiveWebProg.ViewModels;
@model MainFeedViewModel
@functions {
    public int randomNum()
    {
        Random rand = new Random();
        return rand.Next(1, 5);
    }
}

@{
    var userID = Guid.Parse(ViewBag.UserID);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/post.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script type="text/javascript" src="~/js/post.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" defer></script>
    <script type="text/javascript" src="~/js/searchRestaurant.js" defer></script>
</head>

<body class="bg-white">
    <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-post-dialog">
            <div class="modal-content modal-post-content">
                <div class="modal-header modal-post-header">
                    <h5 id="postModalLabel">New Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-post-body">
                    @await Html.PartialAsync("_CreatePostPartial", Model.NewPost)
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-info-dialog">
            <div class="modal-content modal-info-content">
                <div class="modal-image">
                    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" id="carouselInner">
                            <!-- Photos will be inserted here from the database -->
                        </div>
                    </div>
                </div>
                <div class="modal-details modal-info-details">
                    <div class="modal-info-header">
                        <img src="~/Images/xunyin.jpg" alt="Xun Yin">
                        <div class="modal-info-poster">
                            <h4 class="post-info-name" id="modalUsername"></h4>
                            <span class="post-info-time" id="modalCreatedAt"></span>
                        </div>
                    </div>
                    <div class="modal-message modal-info-message" id="modalMessage"></div>
                    <div class="modal-comments modal-info-comments" id="modalComments"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 col-12">
                        <div class="input-area" data-bs-toggle="modal" data-bs-target="#postModal">
                            <div class="profile-pic"></div>
                            <div class="input-field">Want to share something?</div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 col-12">
                        @foreach (var item in Model.PostLists)
                        {
                            <div class="posts" id="@item.Post.PostID">
                                <a class="float-end" asp-controller="Posts" asp-action="SpecificPost"
                                    asp-route-id="@item.Post.PostID"><i class="fa-regular fa-clipboard"></i></a>
                                <div class="post-header">
                                    <img src="~/Images/xunyin.jpg" alt="Xun Yin">
                                    <div class="post-info">
                                        @if (item.Post.User != null)
                                        {
                                            <h4>@item.Post.User.UserName</h4>
                                        }
                                        else if (item.Post.Restaurant != null)
                                        {
                                            <h4>@item.Post.Restaurant.RestName</h4>
                                        }
                                        <span>@item.Post.PostCreatedAt</span>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <p style="max-height: 200px;overflow-y:auto">@item.Post.PostContent</p>
                                    <!-- TODO: Generate the image table dynamically, currently randomizing amount of photos -->
                                    <div class="images-table">
                                        @for (var i = 0; i < randomNum(); i++)
                                        {
                                            <div class="test">
                                                <img src="/Images/Food1.jpeg" alt="Post Image">
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="post-footer">
                                    <form asp-action="LikePost" method="post">
                                        <input type="hidden" name="postId" value="@item.Post.PostID" />
                                        <input type="hidden" name="userId" value="@userID" />
                                        <button type="submit"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                            @if (item.IsLikedByUser)
                                            {
                                                <span class="icon-text">Unlike</span>
                                            }
                                            else
                                            {
                                                <span class="icon-text">Like</span>
                                            }
                                        </button>
                                    </form>
                                    <button><i class="fa fa-comment" aria-hidden="true"></i><span
                                            class="icon-text">Comments</span></button>
                                    <button><i class="fa fa-share" aria-hidden="true"></i><span
                                            class="icon-text">Share</span></button>
                                </div>
                                @await Html.PartialAsync("/Views/Comments/_CommentFormPartial.cshtml", new CommentsModel
                       {
                           UserID = userID,
                           PostID = item.Post.PostID
                       })
                            </div>
                        }
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="col-xl-3" id="sidebar-container">
                <nav class="right-sidebar">
                    <div class="right-sidebar-container">
                        <div class="right-sidebar-title">
                            Explore
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</body>

</html>
