@using EffectiveWebProg.ViewModels;
@model MainFeedViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/post.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script type="text/javascript" src="~/js/post.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" defer></script>
</head>

<body class="bg-white">
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-info-dialog" id="main-modal">
            <div class="modal-content modal-info-content" id="modal-image-container">
                <div class="modal-details modal-info-details">
                    <div class="modal-info-header">
                        <img src="~/Images/xunyin.jpg" alt="Xun Yin">
                        
                        <div class="modal-info-poster">
                            <h4 class="post-info-name" id="modalUsername"></h4>
                            <span class="post-info-time" id="modalCreatedAt"></span>
                        </div>
                    </div>
                    <div class="modal-message modal-info-message" id="modalMessage"></div>
                    <div class="modal-comments modal-info-comments" id="modalComments"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 col-12">
                        @foreach (var item in Model.PostLists)
                        {
                            <div class="posts" id="@item.Post.PostID">
                                @if (item.IsOwnPost) {
                                    <a class="float-end" asp-controller="Posts" asp-action="SpecificPost"
                                    asp-route-id="@item.Post.PostID"><i class="fa-regular fa-clipboard"></i></a>
                                }
                                    <div class="post-header">
                                        <a class="left-nav-link text-dark" asp-area="" asp-controller="RestProfile" asp-action="SelectRestaurant" asp-route-restID=@item.Post.Restaurant.RestID>
                                            <img src="~/Images/xunyin.jpg" alt="Xun Yin">
                                            <div class="post-info">
                                                @if (item.Post.Restaurant != null)
                                                {
                                                    <h4>@item.Post.Restaurant.RestName</h4>
                                                }
                                                <span>@item.Post.PostCreatedAt</span>
                                            </div>
                                        </a>
                                    </div>
                                <div class="post-content">
                                    <p style="max-height: 200px;overflow-y:auto">@item.Post.PostContent</p>
                                    <!-- TODO: Generate the image table dynamically, currently randomizing amount of photos -->
                                    <div class="images-table">
                                        @if (item.ImageUrls != null)
                                        {
                                            @foreach (var imageURL in item.ImageUrls)
                                            {
                                                <div class="test">
                                                    <img src="/Images/PostPics/@imageURL" alt="Post Image">
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="post-footer">
                                    <button class="clickable" id="like-post-button" type="submit">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        @if (item.IsLikedByUser)
                                        {
                                            <span class="icon-text">Unlike</span>
                                        }
                                        else
                                        {
                                            <span class="icon-text">Like</span>
                                        }
                                    </button>
                                    <button>
                                        <i class="fa fa-comment" aria-hidden="true"></i>
                                        <span class="icon-text">Comments</span>
                                    </button>
                                    <button class="clickable">
                                        <i class="fa fa-share" aria-hidden="true"></i>
                                        <span class="icon-text">Share</span>
                                    </button>
                                </div>
                                @await Html.PartialAsync("/Views/Comments/_CommentFormPartial.cshtml", new CommentsModel { PostID = item.Post.PostID })
                            </div>
                        }
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
